{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                {% if messages  %}
                <div class="message-container">
                    {% for message in messages %}
                        <div class="{{ message.tags }}">{{message}}</div>
                    {% endfor %}
                </div>
                <br>
                {% endif %}
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" required minlength="4" maxlength="10" placeholder="Username">
                        <input type="email" name="email" required minlength="4" maxlength="50" placeholder="Email">
                        <input type="password" name="password" required minlength="4" maxlength="10" placeholder="Password">
                        <input type="text" name="address" required minlength="4" placeholder="Address">
                        <input type="text" name="phone" required minlength="10" maxlength="20" placeholder="Phone">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>