{% load static %}
{% load multiply %}
{% load get_total %}
{% load tax %}
{% load final_amount %}


<div class="small-container cart-page">
    {% if cart_obj and cart_obj.added_items.all %}
    <table>
        <tbody><tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for cart in cart_obj.added_items.all %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{ cart.product.image.url }}">
                    <div>
                        <p>{{ cart.product.title }}</p>
                        <small>Price: ₹{{ cart.product.price }}</small>
                        <br>
                        <a href="{% url 'remove_item' cart.id %}">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" disabled value="{{ cart.quantity }}"></td>
            <td>₹{% multiply cart.product.price cart.quantity %}</td>
        </tr>
        {% endfor %}
    </tbody></table>
    <div class="total-price">
        <table>
            <tbody><tr>
                <td>Subtotal</td>
                <td>₹{% get_total cart_obj %}</td>
            </tr>
            <tr>
                <td>Tax/GST</td>
                <td>₹{% tax cart_obj %}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>₹{% final_amount cart_obj %}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <form method="post" action="{% url 'checkout_item' %}" enctype="multipart/form-data"  >
                    {% csrf_token %}
                    <input type="hidden" name="total" value="{% final_amount cart_obj %}">
                    <td><button style="border-radius: 30px; background-color: #ff523b; padding: 10px;
                        text-align: center; color: white; border-color: white; font-family: 'Poppins', sans-serif; text-decoration: none;
                        display: inline-block; font-size: 14px; margin: 1px 1px;box-shadow: none;
                        cursor: pointer;" type="submit">Checkout</button></td>

                </form>    
            </tr>
        </tbody></table>
    </div>
    <div>
    {% else %}
    <h2 style="display: flex;
    align-content: center;
    justify-content: center;
    align-items: center; height: 199px;">Oops! Your cart is empty.</h2>
    {% endif %}
    </div>
</div>

