{% load static %}

<!-- Feadtued Categories -->

<div class="categories">
    <!-- <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'images/category-1.jpg' %}">
            </div>
            <div class="col-3">
                <img src="{% static 'images/category-2.jpg' %}">
            </div>
            <div class="col-3">
                <img src="{% static 'images/category-3.jpg' %}">
            </div>
        </div>
    </div> -->
</div>

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for feat_prd in featured_products %}
        <div class="col-4">
            <a href="{% url 'product_details' feat_prd.id %}"><img src="{{feat_prd.image.url}}"></a>
            <h4>{{feat_prd.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{feat_prd.price}}</p>
        </div>
        {% endfor %}
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for lst_prd in latest_products %}
        <div class="col-4">
            <a href="{% url 'product_details' lst_prd.id %}"><img src="{{lst_prd.image.url}}"></a>
            <h4>{{lst_prd.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{lst_prd.price}}</p>
        </div>
        {% endfor %}
    </div> 
</div>